@charset "UTF-8";


body {
  color: #000;
  font-size: 1.2rem;
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  margin: 0;
  background-image: url("../assets/img/colorful.jpg");
  background-size: cover;
  background-attachment: fixed;
}


*, *::before, *::after {
  box-sizing: border-box;
}

a:link, a:visited, a:hover, a:active {
  color: #000;
  text-decoration: none;
}

li {
    list-style-type: none;
}

/*スキルアイコン*/
.devicon {
    font-size: 3rem;
}

/* トップに戻るボタン */
.back-to-top {
  position: fixed;
  bottom: 100px;
  right: 60px;

  display: none;
  width: 40px;
  height: 40px;

  background-color: #b7b8b6;
  color: #fff;
  opacity: 0.6;

  font-size: 1.6rem;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
}

/* マウスを乗せた時に透明度を変える */
.back-to-top:hover {
  opacity: 1;
}

.heading {
    border-bottom: 4px groove #fff;
    display: inline-block;
}

.navbar {
    background-color: rgba(245,245,245,1);
}

/*header*/
.header {
    text-align: center;
    height: 600px;
    background-color: rgba(245,245,245, 0.5);
}

.header h1 {
    line-height: 600px;
    font-size: 3rem;
    color: #000;
}

/*profile*/
.profile {
    text-align: center;
    color: #000;
    background-color: rgba(245,245,245,1);
}

/*skills*/
.skills {
    text-align: center;
    background-color: rgba(245,245,245, 0.5);
}

/*portfolio*/
.portfolio {
    text-align: center;
    color: #000;
    background-color: rgba(245,245,245,1);
}

.card-img-top:hover {
    opacity: 0.7;
}



/*contact*/
.contact {
    text-align: center;
    background-color: rgba(245,245,245, 0.5);
}

/*footer*/
.footer {
    height: 80px;
    background-color: rgba(245,245,245,1);
    color: #000;
}

/*レスポンシブ*/
@media (max-width: 575px) {
    .header h1 {
       font-size: 1.2rem; 
    }
    
    .back-to-top {
      bottom: 10px;
      right: 10px;
    }
}